<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %} Todo app{% endblock %}</title>
</head>
<body>
    {%block body%}
        <header class = "header fixed-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="{% url 'home' %}" class=" navbar-brand"> Все задачи </a>
                    <div class="navbar navbar-expand-lg navbar-light bg-light">
                        {% if request.user.is_authenticated %}
                            <p class="navbar-brand">{{ user.username }}</p> |
                            <a href="{% url 'logout' %}" class="navbar-brand"> Выйти </a>
                        {% else %}
                            <a href="{% url 'register' %}" class="navbar-brand"> Регистрация </a> |
                            <a href="{% url 'login' %}" class="navbar-brand"> Вход </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    {% endblock body%}
</body>
</html>
